body{
    background-color: orange;
    font-family: Gabriola;
    box-sizing: border-box;
}

.login{
    height: 50vh;
    margin: auto;
    margin-top: 10%;
}

.card{
    background-color: white;
    border: solid 2px blue;
    width: 45%;
}

.nav{
    top: 0px;
}

.m-auto{
    margin:auto;
}

.m-left-12{
    margin-left: 12.5%;
}


