<!DOCTYPE html>
{%extends 'base.html'%}
<body>
{%block navbar%}
    {{super()}}
{%endblock%}

{%block content%}
  <form method="POST" enctype="multipart/form-data" class="bg-white flex flex-column w-50 m-auto pa3 f3 shadow-2">
            {{ form.hidden_tag() }}
            <h3>New Hike</h3>


                {{form.hike_name(placeholder="name", class="ma2")}}
                <div class="ma2">
                      {{form.length_km(placeholder="length km", class="ma2 ")}}

                      {{form.time( placeholder="how long? [hours]", class="ma2 ")}}
                </div>



            {{form.text(placeholder="hike description", class="ma2")}}

            <div class="ma2">
                {{form.summer.label}}
                {{form.summer()}}

                {{form.winter.label}}
                {{form.winter()}}

                {{form.autumn.label}}
                {{form.autumn()}}

                {{form.spring.label}}
                {{form.spring()}}

                {{form.rainy_days.label}}
                {{form.rainy_days()}}
            </div>

            <div class="ma2">
                {{form.region()}}

                {{form.level()}}

                {{form.category()}}

                {{form.people()}}

                {{form.water.label}}
                {{form.water()}}
            </div>


            {{form.images.label}}
            {{form.images(accept="image/png, image/jpeg", class='ma2')}}

            {{form.submit(class="ma2")}}

            <p>{% for error in form.errors.items() %} {{ error[1][0] }} {% endfor %}</p>

            {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
           {% endwith %}

        </form>
{%endblock%}
</body>
</html>