<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hikes</title>
</head>
<body>
<!--<img src="Gastronomie_fran_aise.jpg" alt="picture" width="525" height="350">-->
     <form  method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <h3>New Hike</h3>

            {{form.hike_name(placeholder="name", class="m-2 form-control")}}

            {{form.length_km(placeholder="length km", class="m-2 form-control")}}

            {{form.time( placeholder="how long? [hours]", class="m-2 form-control")}}

            {{form.region()}}

            {{form.level()}}

            {{form.season()}}

            {{form.category()}}

            {{form.people()}}

            {{form.water.label}}
            {{form.water()}}

            {{form.images.label}}
            {{form.images()}}

            {{form.submit(class="btn btn-primary m-2")}}

            <p>{% for error in form.errors.items() %} {{ error[1][0] }} {% endfor %}</p>
        </form>
</body>
</html>